/* estilo para pagina inicial */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.receita {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.receita img {
    max-width: 100%;
}

.receita h2 {
    font-size: 1.5rem;
    margin-top: 10px;
}

.receita p {
    font-size: 1rem;
    margin-top: 10px;
}

.receita a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


/* Estilo para o formulário de contato */
.contato {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contato h2 {
    font-size: 1.5rem;
}

.contato label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.contato input[type="text"],
.contato input[type="email"],
.contato textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contato button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}

.contato button:hover {
    background-color: #555;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


/* Estilo para a seção "Sobre Nós" */
.sobre {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sobre h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.sobre p {
    font-size: 1rem;
    line-height: 1.5;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 
}